<!DOCTYPE html>
<html>
<head>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Maci, http://macister.com/" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <title>
    {% block title %}
    Site Administration
    {% endblock %}
    </title>

    {% block description %}
    <meta name="description" content="" />
    {% endblock %}


    {% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('/bundles/maciadmin/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/maciadmin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/maciadmin/css/lightbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/maciadmin/css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/maciadmin/css/simple-sidebar.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/maciadmin/css/maci.admin.css') }}" />

    {% endblock %}

</head>
{% block bodyTag %}<body id="bodyAdministration">{% endblock %}

    {% block body %}{% endblock %}

    {% block javascripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bundles/maciadmin/js/jquery-1.11.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/lightbox.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/bootstrap.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/jquery-ui.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/shortcut.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/bootstrap-dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/maci.admin.js') }}" ></script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    {% endblock %}


</body>
</html>
