
{% extends "::base.html.twig" %}


{% block body %}

<div id="main">

    {% block navbar %}

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">

    {% block cookieMessage %}

    {% if not app.session.get('cookie-message', false) %}

    <div id="cookieMessage" class="container">

        <nav><ul class="nav navbar-nav">

        <li><p class="navbar-text">{{ 'cookie-message' | matra(('By using ' ~ app.request.host ~ ', you agree to our use of cookies to enhance your experience.')) }}</p></li>
        <li><a class="set-cookie" href="{{ path('maci_set_cookie', {'cookie': 'cookie-message'}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'form.close' | matra('Close') }}</a></li>

        </ul></nav>

    </div>

    {% endif %}

    {% endblock %}

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('maci_admin') }}">Administration</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Homepage</a></li>
                </ul>
            </nav>
            <nav>
                {{ knp_menu_render('user', {'currentClass': 'active'}) }}
            </nav>
        </div>
    </div>

    </div>

    {% endblock %}

    <header id="header">

    {% block header %}

    <div class="container">

    <div id="pathBar" class="row">

        {% block pathBar %}{% endblock %}

    </div>

    </div>

    {% endblock %}

    </header>


    <div id="mainContainer">

    {% block container %}

    <div class="row">

        <div class="col-sm-3 col-md-2">
        <div id="menuContainer" class="row">

            {% block leftMenu %}

                <nav>{{ knp_menu_render('admin_left', {'currentClass': 'active'}) }}</nav>

            {% endblock %}

        </div>
        </div>
        <div class="col-sm-9 col-md-10">
        <div id="pageContainer">

            {% block content %}{% endblock %}

        </div>
        </div>

    </div>

    {% endblock container %}

    </div>

    <footer id="footer">

    {% block footer %}{% endblock footer %}

    </footer>

</div>


{% endblock body %}
