
{% if label is not defined %}
{% set label = 'Edit' %}
{% endif %}

{% if btnxs is not defined %}
{% set btnxs = false %}
{% endif %}

{% if glyphicon is not defined %}
{% if _clone is defined %}
{% set glyphicon = 'glyphicon glyphicon-plus' %}
{% else %}
{% set glyphicon = 'glyphicon glyphicon-edit' %}
{% endif %}
{% endif %}

{% if _parent is defined %}
{% if _parent is iterable %}
{% set _parent = '' %}
{% else %}
{% set _parent = 'parent="' ~ _parent ~ '"' %}
{% endif %}
{% else %}
{% set _parent = '' %}
{% endif %}

{% if _parentval is defined %}
{% set _parentval = 'parentval="' ~ _parentval ~ '"' %}
{% else %}
{% set _parentval = '' %}
{% endif %}

{% if _clone is defined %}
{% set _clone = 'clone="clone"' %}
{% else %}
{% set _clone = '' %}
{% endif %}

{% if _hide is defined %}
{% set _hide = 'hide="' ~ _hide ~ '"' %}
{% else %}
{% set _hide = '' %}
{% endif %}

<a class="btn {% if _clone|length %}btn-info{% else %}btn-success{% endif %} {% if btnxs %}btn-xs{% endif %} ma-form" href="{{ path('maci_admin_entity_form', {'entity': entity, 'id': item.id}) }}" {{ _parent|raw }} {{ _parentval|raw }} {{ _clone|raw }} {{ _hide|raw }}>
	<span class="{{ glyphicon }}" aria-hidden="true"></span>
	{{ label }}
</a>
