
{% if label is not defined %}
{% set label = 'Select' %}
{% endif %}

{% if btnxs is not defined %}
{% set btnxs = false %}
{% endif %}

{% if glyphicon is not defined %}
{% set glyphicon = 'glyphicon glyphicon-tags' %}
{% endif %}

{% if sync is defined %}
{% if sync is iterable %}
{% set sync = 'sync="' ~ path('maci_admin_entity_object', {'entity': sync[0], 'id': sync[1].id }) ~ '"' %}
{% else %}
{% set sync = 'sync="' ~ path('maci_admin_entity_object', {'entity': sync }) ~ '"' %}
{% endif %}
{% else %}
{% set sync = '' %}
{% endif %}

{% if _from is defined %}
{% set _from = 'from="' ~ _from ~ '"' %}
{% else %}
{% set _from = '' %}
{% endif %}

{% if _fromtype is defined %}
{% set _fromtype = 'fromtype="' ~ _fromtype ~ '"' %}
{% else %}
{% set _fromtype = '' %}
{% endif %}

{% if _to is defined %}
{% set _to = 'to="' ~ _to ~ '"' %}
{% else %}
{% set _to = '' %}
{% endif %}

{% if _totype is defined %}
{% set _totype = 'totype="' ~ _totype ~ '"' %}
{% else %}
{% set _totype = '' %}
{% endif %}

{% if _toid is defined %}
{% set _toid = 'toid="' ~ _toid ~ '"' %}
{% else %}
{% set _toid = '' %}
{% endif %}

{% if _filters is not defined %}
{% set _filters = {} %}
{% endif %}

<a class="btn btn-primary {% if btnxs %}btn-xs{% endif %} ma-list" href="{{ path('maci_admin_entity', {'entity': entity}) }}" {{ sync|raw }} {{ _from|raw }} {{ _fromtype|raw }} {{ _to|raw }} {{ _totype|raw }} {{ _toid|raw }}>
	{% for flt, val in _filters %}
	<input type="hidden" name="{{ flt }}" value="{{ val }}" />
	{% endfor %}
	<span class="{{ glyphicon }}" aria-hidden="true"></span>
	{{ label }}
</a>
