
{% if field == item_identifier %}


{% set _identifier = identifier is defined ? identifier : pager is defined ? pager.identifier(listId) : listId %}
{% set _id = _identifier matches '/^\\d+$/' ? _identifier : (listId + 1) %}

<input name="id" type="hidden" value="{{ _identifier }}" />
{% if action == 'relations' and relation_entity_root_section != '___unset___' %}
<a class="item-field-value id" href="{{ path('maci_admin_view', { 'section': relation_entity_root_section, 'entity': relation_entity_root, 'action': 'edit', 'id': _identifier }) }}" title="Edit Item">
	{{ _id }}
</a>
{% elseif action != 'show' and section != '___unset___' %}
<a class="item-field-value id" href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'edit', 'id': _identifier }) }}" title="Edit Item">
	{{ _id }}
</a>
{% else %}
<span class="item-field-value id">
	{{ _id }}
</span>
{% endif %}


{% elseif field == '_string' %}
<span class="item-field-value">{{ item }}</span>


{% elseif field == '_preview' and item.webPreview is defined %}
<div class="row">
	<img class="item-preview img-fluid" src="{{ asset(item.webPreview | imagine_filter('maci_admin_list_preview')) }}" alt="preview" />
</div>


{% else %}

{% if val is not defined %}

{% set fldLabel = (field|capitalize ~ 'Label') %}
{% set fldValue = (field|capitalize ~ 'Value') %}
{% set fldCamel = (field|replace({'_': ' '})|capitalize|replace({' ': ''})) %}

{% if attribute(item, fldLabel) is defined %}

	{% set val = attribute(item, fldLabel) %}

{% elseif attribute(item, fldValue) is defined %}

	{% set val = attribute(item, fldValue) %}

{% elseif attribute(item, fldCamel) is defined %}

	{% set val = attribute(item, fldCamel) %}

{% elseif field == '_preview' %}

	{% set val = attribute(item, 'webPreview') %}

{% else %}

	{% set val = attribute(item, field) %}

{% endif %}

{% endif %}


{% if not cuttext is defined %}
{% set cuttext = false %}
{% endif %}


{% if val is null %}

<span class="item-field-value"><i>NULL</i></span>

{% elseif field == '_preview' %}

<img class="item-preview img-fluid" src="{{ asset(item.webPreview|imagine_filter('maci_admin_list_preview')) }}" alt="preview" />

{% elseif val.timestamp is defined %}

<span class="item-field-value">{{ val|date('d/m/Y H:i:s') }}</span>

{% elseif val is iterable %}

{% include "MaciAdminBundle:Actions:_item_field_iterable.html.twig" %}

{% elseif val is same as(true) %}

<span class="glyphicon glyphicon-ok"></span>

{% elseif val is same as(false) %}

<span class="glyphicon glyphicon-remove"></span>

{% elseif val|length  %}

{% if cuttext  %}
<span class="item-field-value">{{ val[:72] ~ (val|length < 72 ? '' : '...') }}</span>
{% else  %}
<span class="item-field-value">{{ val }}</span>
{% endif %}

{% else  %}

<span class="item-field-value">{{ val }}</span>

{% endif %} {# End (val is null) #}

{% endif %} {# End field #}
