
{% if field == 'id' %}

<td class="list-item-id">
	<input name="id" type="hidden" value="{{ item.id }}" />
	{% if action == 'relations' %}
	<a href="{{ path('maci_admin_view', { 'section': relation_entity_root_section, 'entity': relation_entity_root, 'action': 'edit', 'id': item.id }) }}" title="Edit Item">
		{{ item.id }}
	</a>
	{% else %}
	<a href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'edit', 'id': item.id }) }}" title="Edit Item">
		{{ item.id }}
	</a>
	{% endif %}
</td>

{% elseif field == '_string' %}

<span class="item-field-value">{{ item }}</span>

{% else %}

{% set fldLabel = (field|capitalize ~ 'Label') %}
{% set fldValue = (field|capitalize ~ 'Value') %}


{% if attribute(item, fldLabel) is defined %}

	{% set val = attribute(item, fldLabel) %}

{% elseif attribute(item, fldValue) is defined %}

	{% set val = attribute(item, fldValue) %}

{% elseif field == '_preview' %}

	{% set val = attribute(item, 'webPreview') %}

{% else %}

	{% set val = attribute(item, field) %}

{% endif %}


{% if val.timestamp is defined %}

<span class="item-field-value">{{ val|date('d/m/Y H:i:s') }}</span>

{% elseif val is iterable %}

<ul class="item-field-value">

{% for child in val %}

<li>{{ val }}</li>

{% endfor %}

</ul>

{% elseif val is same as(true) %}

<span class="glyphicon glyphicon-ok"></span>

{% elseif val is same as(false) %}

<span class="glyphicon glyphicon-remove"></span>

{% elseif field == '_preview' %}

{% if item.webPreview is defined %}
<img class="item-preview" src="{{ asset(val | imagine_filter('maci_admin_list_preview')) }}" alt="{{ val }}" title="{{ val }}" />
{% endif %}

{% else %}

<span class="item-field-value">{{ val[:180] ~ (val|length < 180 ? '' : '...') }}</span>

{% endif %}


{% endif %}

