
{% if type is not defined or not type in ['list', 'add', 'set'] %}
{% set type = 'list' %}
{% endif %}

<tr class="list-item">

	{% if type in ['list'] %}
	<td class="list-item-checkbox">
		<div class="list-item-checkbox-wrapper">
			<input type="checkbox" name="list-item-checkbox[{{ item.id }}]">
		</div>
	</td>
	{% endif %}

	{% for field in fields %}

	{% if field == 'id' %}

	<td class="list-item-id">
		<input name="id" type="hidden" value="{{ item.id }}" />
		{% if action == 'relations' %}
		<a href="{{ path('maci_admin_view', { 'section': relation_section, 'entity': relation_entity, 'action': 'edit', 'id': item.id }) }}" title="Edit Item">
			{{ item.id }}
		</a>
		{% else %}
		<a href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'edit', 'id': item.id }) }}" title="Edit Item">
			{{ item.id }}
		</a>
		{% endif %}
	</td>

	{% elseif field == '_preview' %}

	<td class="list-item-preview">

	{% if is_image(item.webPath) %}

		<img src="{{ asset(item.webPath | imagine_filter('maci_admin_list_preview')) }}" alt="Preview" />

	{% endif %}

	</td>

	{% else %}

	<td>

		{% include "MaciAdminBundle:Actions:_item_field.html.twig" %}

	</td>

	{% endif %}

	{% endfor %}

	{% if type == 'list' %}
	<td class="list-item-actions">

		<a class="btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'edit', 'id': item.id}) }}">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
		</a>

		<a class="btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'remove', 'id': item.id}) }}">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
		</a>

	</td>
	{% elseif type == 'relation' %}
	<td>

		<form action="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'id': id, 'action': 'relations', 'relation': relation, 'relAction': 'remove'}) }}" method="post">
		<input type="hidden" name="ids" value="{{ item.id }}">
		<button class="btn btn-sm list-item-set">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
		</button>
		</form>

	</td>
	{% elseif type == 'add' %}
	<td>

		<a class="btn btn-sm list-item-add" href="#" rel="{{ item.id }}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>

		<a class="btn btn-sm list-item-remove" href="#" rel="{{ item.id }}">
			<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		</a>

	</td>
	{% elseif type == 'set' %}
	<td>

		<form action="#" method="post">
		<input type="hidden" name="ids" value="{{ item.id }}">
		<button class="btn btn-sm list-item-set">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Set
		</button>
		</form>

	</td>
	{% endif %}

</tr>
