
{% if pager is defined and (pager.requiresPagination() or pager.form) %}

<div class="pagination-container container-fluid">
<nav aria-label="Page navigation">

{% if pager.requiresPagination() %}
<ul class="nav navbar-nav">
	<li>
		<ul class="pagination">
			{% if pager.hasPrev() %}
			<li>
				<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "page": pager.prev })) }}">
					Previous
				</a>
			</li>
			{% endif %}
			{% for page in pager.getPageRange() %}
		    	<li {% if pager.current(page) %}class="active"{% endif %}>
		    		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "page": page })) }}">{{ page }}</a>
		    	</li>
			{% endfor %}
			{% if pager.hasNext() %}
			<li>
				<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "page": pager.next })) }}">
					Next
				</a>
			</li>
			{% endif %}
		</ul>
	</li>
</ul>
{% endif %}


{% if pager.form %}
<form method="post" action="{{ pager.form.vars.action }}" class="admin-form pagination-form navbar-form navbar-right container-fluid">
	{% if pager.requiresPagination() %}
	<div class="form-group">
		<label class="control-label required" for="form_page">Page:</label>
		<input id="form_page" name="form[page]" required="required" class="form-control" value="{{ pager.form.vars.value.page }}" type="number">
	</div>
	{% endif %}
	<div class="form-group">
		<label class="control-label required" for="form_page_limit">Items for Page:</label>
		<input id="form_page_limit" name="form[page_limit]" required="required" class="form-control" value="{{ pager.form.vars.value.page_limit }}" type="number" />
	</div>
	<div class="form-group">
		<input id="form__token" name="form[_token]" value="{{ pager.form._token.vars.value }}" type="hidden">
		<button type="submit" id="form_set" name="form[set]" class="btn-primary btn">Set</button>
	</div>
</form>
{% endif %}


</nav>
</div>

{% endif %}
