
{% if type is not defined or not type in ['list', 'add', 'set'] %}
{% set type = 'list' %}
{% endif %}

<tr class="list-item">

	{% if '_id' in fields %}
	<td class="list-item-id">
		<input name="id" type="hidden" value="{{ item.id }}" />
		{% if type == 'list' %}
		<a href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'show', 'id': item.id }) }}" title="See Details">
			{{ item.id }}
		</a>
		{% else %}
		<p>{{ item.id }}</p>
		{% endif %}
	</td>
	{% endif %}

	{% for field in fields %}

	{% if not ( field in ['_id', '_actions'] ) %}

	<td>

		{% if field == '_string' %}

		<p>{{ item }}</p>

		{% else %}

		{% set mth1 = (field|capitalize ~ 'Label') %}
		{% set mth2 = (field|capitalize ~ 'Value') %}
		{% if attribute(item, mth1) is defined %}
		{% set meth = attribute(item, mth1) %}
		{% else %}
		{% set meth = attribute(item, field) %}
		{% endif %}

		{% if meth.timestamp is defined %}
		<p>{{ meth|date('d/m/Y') }}</p>
		{% else %}
		<p>{{ meth }}</p>
		{% endif %}

		{% endif %}

	</td>

	{% endif %}

	{% endfor %}

	{% if type == 'list' %}
	{% if '_actions' in fields %}
	<td class="list-item-actions">

		<a class="btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'edit', 'id': item.id}) }}">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
		</a>

		<a class="btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'remove', 'id': item.id}) }}">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
		</a>

	</td>
	{% endif %}
	{% elseif type == 'relation' %}
	<td>

		<form action="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'id': id, 'action': 'relations', 'relation': relation, 'relAction': 'remove'}) }}" method="post">
		<input type="hidden" name="ids" value="{{ item.id }}">
		<button class="btn btn-sm list-item-set">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
		</button>
		</form>

	</td>
	{% elseif type == 'add' %}
	<td>

		<a class="btn btn-sm list-item-add" href="#" rel="{{ item.id }}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>

		<a class="btn btn-sm list-item-remove" href="#" rel="{{ item.id }}">
			<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		</a>

	</td>
	{% elseif type == 'set' %}
	<td>

		<form action="#" method="post">
		<input type="hidden" name="ids" value="{{ item.id }}">
		<button class="btn btn-sm list-item-set">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Set
		</button>
		</form>

	</td>
	{% endif %}

</tr>
