
{% if list is not defined %}
{% if pager is defined %}
{% set list = pager.pageList %}
{% else %}
{% set list = false %}
{% endif %}
{% endif %}


{% if list|length %}

{#% include "MaciAdminBundle:Actions:_filters.html.twig" %#}

{% if type is not defined or not type in ['list', 'relation', 'add', 'set'] %}
{% set type = 'list' %}
{% endif %}

{% if multipleArrayViews is not defined %}
{% set multipleArrayViews = ['list', 'relation', 'add'] %}
{% endif %}

{% if multipleCheckbox is not defined %}
{% set multipleCheckbox = (type in multipleArrayViews) %}
{% endif %}

{% if list|length == 1 %}
{% set multipleCheckbox = false %}
{% endif %}

<div class="list list-default list-type-{{ type }}{% if multipleCheckbox %} list-multiple{% endif %}"{% if sortable and 1 < list|length %} sortable="{{ sortable }}"{% endif %}>
<table class="table table-striped tablesorter">

<thead>

<tr class="list-header-container">

	{% if multipleCheckbox %}
	<th class="list-header">&nbsp;</th>
	{% endif %}

	{% for field in fields %}

	{% if field == 'id' %}
	<th class="list-header id">
		<span class="list-title">Id</span>
	</th>
	{% elseif field == '_preview' %}
	<th class="list-header _preview">
		<span class="list-title">Preview</span>
	</th>
	{% elseif field == '_string' %}
	<th class="list-header name">
		<span class="list-title">Name</span>
	</th>
	{% else %}
	<th class="list-header {{ field }}">
		<span class="list-title">{{ field|capitalize }}</span>
	</th>
	{% endif %}

	{% endfor %}

	{% if type == 'list' or type == 'relation' %}
	<th class="list-header-last list-header-remove">
		<span class="list-title">Actions</span>
	</th>
	{% elseif type == 'set' %}
	<th class="list-header-last list-header-set">
		<span class="list-title">Set Item</span>
	</th>
	{% endif %}

</tr>

{% if multipleCheckbox %}
<tr class="multipleActionsBar">
	<td>
		<nav>
			<ul class="nav navbar-nav">

				<li>
					<p class="navbar-text">
						<span class="glyphicon glyphicon-ok-circle"></span>
					</p>
				</li>

				<li>
					<p class="navbar-text multipleActionsBarSelectedLabel">
						Selected Items: [ <span class="multipleActionsBarSelectedValue"></span> ]
					</p>
				</li>

				<li>
					<a class="action select-all" href="#">
						<span class="glyphicon glyphicon-ok"></span>
						Select All
					</a>
				</li>

				<li>
					<a class="action deselect-all" href="#">
						<span class="glyphicon glyphicon-unchecked"></span>
						Deselect All
					</a>
				</li>

				{% if type == 'list' %}

				<li>
					<a class="action remove" confirm="Are you sure to remove %items% items?" href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'remove' }) }}">
						<span class="glyphicon glyphicon-remove"></span>
						Remove
					</a>
				</li>

				{% elseif type == 'add' %}

				<li>
					<a class="action btn-primary" confirm="Are you sure to add %items% items?" href="#">
						<span class="glyphicon glyphicon-plus"></span>
						Add Items
					</a>
				</li>

				{% elseif type == 'relation' %}

				{% if relation_action == 'list' %}
				<li>
					<a class="action remove" confirm="Are you sure to remove %items% items?" href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'relations', 'id': id, 'relation': relation, 'relAction': 'remove', 'rm': 'item' }) }}">
						<span class="glyphicon glyphicon-remove"></span>
						Remove Items
					</a>
				</li>
				{% endif %}

				<li>
					<a class="action remove" confirm="Are you sure to remove %items% associations?" href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'relations', 'id': id, 'relation': relation, 'relAction': 'remove', 'rm': 'association' }) }}">
						<span class="glyphicon glyphicon-remove"></span>
						Remove Associations
					</a>
				</li>

				{% endif %}

			</ul>
		</nav>
	</td>
</tr>
{% endif %}

</thead>

<tbody>
{% for item in list %}

	{% include "MaciAdminBundle:Actions:_list_item.html.twig" %}

{% endfor %}
</tbody>

</table>
</div>

{% if pager.requiresPagination() %}
<div class="container-fluid">
<ul class="pagination">
	<li {% if not pager.hasPrev() %}class="disabled"{% endif %}>
		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({ "page": pager.prev })) }}">«</a>
	</li>
	{% for page in pager.getPageRange() %}
    	<li {% if pager.current(page) %}class="active"{% endif %}>
    		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({ "page": page })) }}">{{ page }}</a>
    	</li>
	{% endfor %}
	<li {% if not pager.hasNext() %}class="disabled"{% endif %}>
		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({ "page": pager.next })) }}">»</a>
	</li>
</ul>
</div>
{% endif %}

{% else %}

<div class="container-fluid">
	<span class="navbar-text noitems">No Items.</span>
</div>

{% endif %}
