
{% set list = pager.pageList %}

{% if list|length %}

<div class="list-default">
<table class="table table-striped{% if type is defined and type in ['add','set'] %} list-{{ type }}{% endif %}">

<thead>
<tr class="list-header">

	{% if '_id' in fields %}
	<th class="list-header-id">
		<span class="list-title">Id</span>
	</th>
	{% endif %}

	{% for field in fields %}

	{% if not ( field in ['_id', '_actions'] ) %}

	<th>
		{% if field == '_string' %}
		<span class="list-title">Name</span>
		{% else %}
		<span class="list-title">{{ field|capitalize }}</span>
		{% endif %}
	</th>

	{% endif %}

	{% endfor %}

	{% if type is not defined or type == 'list' %}
	{% if '_actions' in fields %}
	<th class="list-header-last list-header-actions">
		<span class="list-title">Actions</span>
	</th>
	{% endif %}
	{% elseif type == 'relation' %}
	<th class="list-header-last list-header-remove">
		<span class="list-title">Remove Item</span>
	</th>
	{% elseif type == 'add' %}
	<th class="list-header-last list-header-add">
		<span class="list-title">Add Items</span>
	</th>
	{% elseif type == 'set' %}
	<th class="list-header-last list-header-set">
		<span class="list-title">Set Item</span>
	</th>
	{% endif %}

</tr>
</thead>

<tbody>
{% for item in list %}

	{% include "MaciAdminBundle:Actions:_list_item.html.twig" with { 'fields': fields, 'entity': entity, 'item': item } %}

{% endfor %}
</tbody>

</table>
</div>

{% if pager.requiresPagination() %}
<div class="container-fluid">
<ul class="pagination">
	<li {% if not pager.hasPrev() %}class="disabled"{% endif %}>
		<a href="{{ path('maci_admin_entity', { "entity": entity, "page": pager.prev }) }}">«</a>
	</li>
	{% for page in pager.getPageRange() %}
    	<li {% if pager.current(page) %}class="active"{% endif %}>
    		<a href="{{ path('maci_admin_entity', { "entity": entity, "page": page }) }}">{{ page }}</a>
    	</li>
	{% endfor %}
	<li {% if not pager.hasNext() %}class="disabled"{% endif %}>
		<a href="{{ path('maci_admin_entity', { "entity": entity, "page": pager.next() }) }}">»</a>
	</li>
</ul>
</div>
{% endif %}

{% else %}

<div class="container-fluid">
	<span class="noitems">No Items.</span>
</div>

{% endif %}
