
{% if item %}

{% if type is not defined %}
{% set type = 'default' %}
{% endif %}

{% if multipleArrayViews is not defined %}
{% set multipleArrayViews = [] %}
{% endif %}

{% if multipleCheckbox is not defined %}
{% set multipleCheckbox = false %}
{% endif %}

<tr class="list-item">

	{% if multipleCheckbox %}
	<td class="list-item-checkbox">
		<div class="list-item-checkbox-wrapper">
			<input type="checkbox" name="list-item-checkbox[{{ pager.identifier(listId) }}]" />
		</div>
	</td>
	{% endif %}

	{% if 'id' not in list_fields %}

	<td class="list-item-field field-listId">

		{% include "MaciAdminBundle:Actions:_item_field.html.twig" with {'field': 'id'} %}

	</td>

	{% endif %}

	{% for field in list_fields %}

	<td class="list-item-field field-{{ field }}">

		{% include "MaciAdminBundle:Actions:_item_field.html.twig" %}

	</td>

	{% endfor %}

	{% if type == 'list' %}
	<td class="list-item-actions">
	{% if trash %}

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'trash', 'id': pager.identifier(listId)}) }}">
			<span class="glyphicon glyphicon-list" aria-hidden="true"></span> Restore
		</a>

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'remove', 'id': pager.identifier(listId)}) }}">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
		</a>

	{% else %}

		<a class="action edit btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'show', 'id': pager.identifier(listId)}) }}">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show
		</a>

		<a class="action edit btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'edit', 'id': pager.identifier(listId)}) }}">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
		</a>

	{% if hasTrash %}

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'trash', 'id': pager.identifier(listId)}) }}">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Trash
		</a>

	{% else %}

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'remove', 'id': pager.identifier(listId)}) }}">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
		</a>

	{% endif %}
	{% endif %}
	</td>
	{% elseif type == 'relation' %}
	{% if relation_entity_root_section != '___unset___' %}
	<td>

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'id': id, 'action': 'relations', 'relation': relation, 'relAction': 'remove', 'rid': pager.identifier(listId), 'rm': 'item'}) }}" method="post">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Item
		</a>

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'id': id, 'action': 'relations', 'relation': relation, 'relAction': 'remove', 'rid': pager.identifier(listId), 'rm': 'association'}) }}" method="post">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Association
		</a>

	</td>
	{% endif %}
	{% elseif type == 'set' %}
	<td>

		<form action="#" method="post">
		<input type="hidden" name="ids" value="{{ pager.identifier(listId) }}">
		<button class="action btn btn-sm btn-primary list-item-set">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Set as {{ relation|capitalize }}
		</button>
		</form>

	</td>
	{% elseif type == 'add' %}
	<td>

		<form action="#" method="post">
		<input type="hidden" name="ids" value="{{ pager.identifier(listId) }}">
		<button class="action btn btn-sm btn-primary list-item-add">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add to {{ relation|capitalize }}
		</button>
		</form>

	</td>
	{% endif %}

</tr>

{% endif %}
