
{% if item %}

{% if type is not defined %}
{% set type = 'default' %}
{% endif %}

{% if multipleArrayViews is not defined %}
{% set multipleArrayViews = [] %}
{% endif %}

{% if multipleCheckbox is not defined %}
{% set multipleCheckbox = false %}
{% endif %}

<tr class="list-item">

	{% if multipleCheckbox %}
	<td class="list-item-checkbox">
		<div class="list-item-checkbox-wrapper">
			<input type="checkbox" name="list-item-checkbox[{{ item.id }}]">
		</div>
	</td>
	{% endif %}

	{% for field in fields %}

	{% if field == 'id' %}

	<td class="list-item-id">
		<input name="id" type="hidden" value="{{ item.id }}" />
		{% if action == 'relations' %}
		<a href="{{ path('maci_admin_view', { 'section': relation_section, 'entity': relation_entity, 'action': 'edit', 'id': item.id }) }}" title="Edit Item">
			{{ item.id }}
		</a>
		{% else %}
		<a href="{{ path('maci_admin_view', { 'section': section, 'entity': entity, 'action': 'edit', 'id': item.id }) }}" title="Edit Item">
			{{ item.id }}
		</a>
		{% endif %}
	</td>

	{% elseif field == '_preview' %}

	<td class="list-item-preview">

	{% if is_image(item.webPreview) %}

		{% include "MaciAdminBundle:Actions:_item_field.html.twig" %}

	{% endif %}

	</td>

	{% else %}

	<td>

		{% include "MaciAdminBundle:Actions:_item_field.html.twig" %}

	</td>

	{% endif %}

	{% endfor %}

	{% if type == 'list' %}
	<td class="list-item-actions">

		<a class="action edit btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'edit', 'id': item.id}) }}">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
		</a>

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'action': 'remove', 'id': item.id}) }}">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
		</a>

	</td>
	{% elseif type == 'relation' %}
	<td>

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'id': id, 'action': 'relations', 'relation': relation, 'relAction': 'remove', 'rid': item.id, 'rm': 'item'}) }}" method="post">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Item
		</a>

		<a class="action remove btn btn-sm" href="{{ path('maci_admin_view', {'section': section, 'entity': entity, 'id': id, 'action': 'relations', 'relation': relation, 'relAction': 'remove', 'rid': item.id, 'rm': 'association'}) }}" method="post">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Association
		</a>

	</td>
	{% elseif type == 'set' %}
	<td>

		<form action="#" method="post">
		<input type="hidden" name="ids" value="{{ item.id }}">
		<button class="action btn btn-sm btn-primary list-item-set">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Set as {{ relation|capitalize }}
		</button>
		</form>

	</td>
	{% endif %}

</tr>

{% endif %}
