

<h3>{{ relation_label }}: {{ relation_action_label }}</h3>


{% if relation_action in ['show', 'list'] %}

{% include "MaciAdminBundle:Actions:_list.html.twig" with { 'type': 'relation' } %}

<div class="container-fluid">

<a class="btn btn-primary" href="{{ path('maci_admin_view_relations', { 'section': section, 'entity': entity, 'action': action, 'id': item.id, 'relation': relation, 'relAction': ( relation_action == 'show' ? 'set' : 'add' ) }) }}">
	{% if relation_action == 'show' %}Set{% else %}Add{% endif %}
</a>

{% for bridge in bridges %}

<a class="btn btn-primary" href="{{ path('maci_admin_view_relations_bridge', { 'section': section, 'entity': entity, 'action': action, 'id': item.id, 'relation': relation, 'relAction': 'bridge', 'bridge': bridge }) }}">
	{% if relation_action == 'show' %}Set{% else %}Add{% endif %} {{ bridge|capitalize }}
</a>

{% endfor %}

</div>

{% endif %}



{% if relation_action == 'add' %}

{% include "MaciAdminBundle:Actions:_list.html.twig" with { 'type': 'add' } %}

<div class="container-fluid">
<form class="list-add-form" action="#" method="post">
<input type="hidden" name="ids">
<button class="btn btn-primary list-add-submit">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
</button>
</form>
</div>

{% endif %}


{% if relation_action == 'set' %}

{% include "MaciAdminBundle:Actions:_list.html.twig" with { 'type': 'set' } %}

{% endif %}

