
<div class="row">

	<div class="col-xs-1">
		<input type="checkbox" name="list[]" role="id" value="{{ item.id }}" />
		<input type="checkbox" name="list[]" role="entity" value="{{ admin.name }}" />
	</div>

	<div class="col-xs-1">
		<a href="{{ path('maci_admin_entity_form', { 'entity': admin.name, 'id': item.id }) }}">
			{{ item.id }}
		</a>
	</div>

	<div class="col-xs-7">
		<a href="{{ path('maci_admin_entity_form', { 'entity': admin.name, 'id': item.id }) }}">
			{{ item }}
		</a>
	</div>

	<div class="col-xs-3 maci-actions"></div>

</div>
