
<div class="row">

	<div class="col-xs-1">
		<input name="id" type="hidden" value="{{ item.id }}" />
		<a href="{{ path('maci_admin_entity_show', { 'entity': entity, 'id': item.id }) }}">
			{{ item.id }}
		</a>
	</div>

	<div class="col-xs-8">
		<a href="{{ path('maci_admin_entity_show', { 'entity': entity, 'id': item.id }) }}">
			{{ item }}
		</a>
	</div>

	<div class="col-xs-3 actions">

		{% include 'MaciAdminBundle:Link:edit.html.twig' with {'entity': entity, 'item': item} %}
		|
		{% include 'MaciAdminBundle:Link:remove.html.twig' with {'entity': entity, 'item': item} %}

	</div>

</div>
