
{% if params.section is defined %}

<nav>
<ol class="breadcrumb">

    <li>
		<a href="{{ path('maci_admin') }}">
    		Admin
		</a>
    </li>

	{% if params.section is defined and params.section %}
    <li>
		<a href="{{ path('maci_admin_view', {'section': params.section}) }}">
    		{{ params.section_label }}
		</a>
    </li>
	{% endif %}

	{% if params.entity is defined and params.entity %}
	{% if params.action is defined and params.action %}
	<li>
		<a href="{{ path('maci_admin_view', {'section': params.section, 'entity': params.entity, 'action': 'list'}) }}">
			{{ params.entity_label }}
		</a>
	</li>
	{% else %}
	<li class="active">
    	{ params.entity_label }}
	</li>
	{% endif %}
	{% endif %}

	{% if params.id is defined and params.id %}
	<li class="active">
    	{{ params.id }}
	</li>
	{% endif %}

	{% if params.action is defined and params.action %}
	<li class="active">
    	{{ params.action_label }}
	</li>
	{% endif %}

	{% if params.relation_action is defined and params.relation_action %}
	<li class="active">
    	{{ params.relation|capitalize }}
	</li>
	{% endif %}


</ol>
</nav>

{% endif %}
