

{% if entity is defined and entity %}

<h1>{{ entity_label }}</h1>

<div id="entitybar" class="actionsbar content-navbar container-fluid">
	<nav>
		{{ knp_menu_render('admin_actions', {'currentClass': 'active'}) }}
	</nav>
</div>


{% if id is defined and id %}

<h2 class="header-title">Item: {{ item }}</h2>

<div id="itembar" class="actionsbar content-navbar container-fluid">
	<nav>
		{{ knp_menu_render('admin_item_actions', {'currentClass': 'active'}) }}
	</nav>
</div>


{% if relation is defined and relation %}

<h3 class="header-title">Relation: {{ association_label }} <span class="header-description">Entity: {{ relation_label }}</span></h3>

<div id="relationbar" class="actionsbar content-navbar container-fluid">
	<nav>
		{{ knp_menu_render('admin_item_relation_actions', {'currentClass': 'active'}) }}
	</nav>
</div>


{% endif %}

{% endif %}

<h4 class="header-title">{{ relation_action_label is defined ? relation_action_label : action_label }}</h4>

{% endif %}
