

{% if entity is defined and entity %}

<h1>{{ entity_label }}</h1>

<div id="entitybar" class="actionsbar content-navbar container-fluid">
	<nav>{{ knp_menu_render('admin_actions', {'currentClass': 'active'}) }}</nav>
</div>


{% if id is defined and id %}

<h2>Item ID: {{ id }}</h2>

<div id="itembar" class="actionsbar content-navbar container-fluid">
	<nav>{{ knp_menu_render('admin_item_actions', {'currentClass': 'active'}) }}</nav>
</div>


{% if relation is defined and relation %}

<h3>Relation: {{ relation }}</h3>

<div id="relationbar" class="actionsbar content-navbar container-fluid">
	<nav>{{ knp_menu_render('admin_item_relation_actions', {'currentClass': 'active'}) }}</nav>
</div>


{% else %}

<h2>{{ action_label }}</h2>


{% endif %}

{% endif %}

{% endif %}
