
{% if section and actions %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<ul class="nav navbar-nav">

		<li class="nav-item">
			<span class="navbar-text px-2">
				{% if id %}{{ entity_label }} [{{ id }}]{% else %}{{ entity_label }} Actions{% endif %}:
			</span>
		</li>

		{% for acn_label, acn_name in actions %}
		<li class="nav-item">
			<a class="nav-link" href="{{ path('maci_admin_view', {'section': section,'entity': entity,'action': acn_name,'id': id}) }}">{{ acn_label }}</a>
		</li>
		{% endfor %}

	</ul>
</nav>

{% endif %}
