
{% extends "MaciAdminBundle::layout.html.twig" %}


{% block pathBar %}
<nav>
<ul class="nav navbar-nav">

    <li class="pathbar-parent">
		<a href="{{ path('maci_admin') }}">
    		Entities
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
    </li>

	<li class="pathbar-parent">
		<a href="{{ path('maci_admin_entity', {'entity': entity}) }}">
			{{ entity_label }}
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>

    <li>
    	{% if params.item.id %}
    	<span class="navbar-text">Edit [{{ params.item.id }}]</span>
    	{% else %}
    	<span class="navbar-text">New</span>
    	{% endif %}
    </li>

</ul>
</nav>
{% endblock %}


{% block content %}

<h1>{{ entity_label }}</h1>
{% if params.item.id %}
<h2>Edit [{{ params.item.id }}]</h2>
{% else %}
<h2>New</h2>
{% endif %}

<div class="container-fluid">
<div class="content-navbar">
	<nav>
	<ul class="nav navbar-nav">

		<li>
			<a href="{{ path('maci_admin_entity', {'entity': entity}) }}">
				<span class="glyphicon glyphicon-th-list"></span> List
			</a>
		</li>

	</ul>
	</nav>
</div>
</div>

{% include template with params %}

{% endblock %}


